[*.cs]

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none

# IDE0037: Use inferred member name
dotnet_diagnostic.IDE0037.severity = none

# IDE0057: Use range operator
# Infuriatingly, this of course affects BOTH span slices AND substrings, even though we only want to turn it off
# for substrings - otherwise the non-allocating Slice would look the same as the allocating Substring, and then
# we couldn't grep for allocating statements anymore, so it's stupid to want to use range indexers for substrings,
# yeesh!
# But we can turn this off and rely on ReSharper which DOES have presence of mind enough to separate out the
# warnings for slices and substrings.
dotnet_diagnostic.IDE0057.severity = none

dotnet_style_prefer_collection_expression = false:suggestion
dotnet_style_collection_initializer = true:suggestion

resharper_use_collection_expression_highlighting = false:suggestion

# remove this later
dotnet_diagnostic.WFO1000.severity = none