<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7z.Libs" version="19.00.1" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2019.1.1" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="Ookii.Dialogs.WinForms" version="1.0.0" targetFramework="net472" />
  <package id="Squid-Box.SevenZipSharp" version="1.1.144" targetFramework="net472" />
  <package id="xFFmpeg.NET" version="3.3.3" targetFramework="net472" />
</packages>